.dialog {
  margin-right: 7%;
  margin-left: auto;
  padding: 10px;
  max-height: 70dvh;
  max-width: 70dvw;
  display: flex;
  flex-direction: column;
  border: none;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  position: fixed;
  bottom: 20%;
  z-index: 20;
  background-color: rgba(247, 218, 112, 0.5);
}

.closeButton {
  width: 30px;
  height: 30px;
  margin-left: auto;
  border: none;
  margin-bottom: 10px;
  position: relative;
  background: none;
  cursor: pointer;
}

.closeButton:before,
.closeButton:after {
  content: '';
  width: 100%;
  right: 0px;
  bottom: 14px;
  height: 1px;
  background: black;
  position: absolute;
  transform: rotate(-45deg);
}

.closeButton:after {
  transform: rotate(45deg);
}

.closeButton:hover:before,
.closeButton:hover:after {
  width: 110%;
  right: -2px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.area {
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  min-width: 200px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 70px;
  max-height: 250px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.area::placeholder {
  color: #aaa;
}

.area:hover {
  border-color: #999;
}

.sendButton {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.sendButton:hover {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.15));
}

.sendButton:active {
  position: relative;
  top: 3px;
}
